@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@700&family=Plus+Jakarta+Sans:wght@400;700&family=Poppins:wght@200;300;400;600;700;900&family=Public+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Rubik:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  font-size: 1rem;
}

a.active {
  color: #fe006a;

  border-bottom: 4px solid #214284;
}

/* #214284 */
