@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background-clip: text;
  background-image: linear-gradient(to right, #ff69b4, #87CEFA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.selected {
  position: relative;
}

.selected::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(to right, #ff69b4, #87CEFA);
}



